/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/*
tests/*
elasticsearch-2019-03-08-1.log.gz
elasticsearch.log
translog.ckp
_1.si
*.ckp
*.tlog
segments_c
segments_4
*.gz
*.cfs
*.st
state-0.st
/dump.rdb
