// Fonts
//������ȥ���� google����
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
//@import '~simditor/styles/simditor';
@import '~sweetalert2/src/sweetalert2.scss';
@import "~toastr/toastr.scss";

body {
  background-color: white;
  font-family: "PingFang SC", "Lantinghei SC", "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", "\\5FAE软雅黑", STHeitiSC-Light, simsun, "\\5B8B体", "WenQuanYi Zen Hei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.triangle-down {
  width: 0;
  height: 0;
  border-top: 5px solid dimgrey;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

nav {
  //background-color: rgb(32, 33, 36);
  background-color:#fff;
  border-bottom:1px solid lightgray;
  //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.main-text {
  text-decoration: none solid rgb(99, 107, 111);
  color: rgb(99, 107, 111)
}
.line-height-24 {
  line-height: 24px;
}
.a-hover:hover {
  color: #4d7fd0;
  cursor:pointer;
}
.text-desc {
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 22px;
  text-decoration: none solid rgb(130, 138, 146);
  text-align: left;
  text-indent: 0px;
  text-transform: none;
  vertical-align: baseline;
  white-space: normal;
  word-spacing: 0;
  color: rgb(130, 138, 146);
}

a {
  text-decoration: none;
  //color: white;
}

.notes-count {
  background-color: white;
  width: 25px;
  height: 25px;
  text-align: center;
}

.notes-count a {
  display: block;
  width: 25px;
  height: 25px;
  line-height: 25px;
}

.content-text {
  font-size: 15px;
  line-height: 30px;
  font-family: Helvetica Neue, Microsoft YaHei;
}
